---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <h1 class="text-4xl font-bold mb-6">Contact</h1>

  <p class="opacity-80">Discord: yungb#0001</p>
  <p class="opacity-80 mt-2">Email: coming soon</p>
</Layout>
