<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://discord.gg/9YAzwd5paG" />
  </head>
  <body>
    <script>
      window.location.href = 'https://discord.gg/9YAzwd5paG';
    </script>
  </body>
</html>
